---
import ProductCard from "./ProductCard.astro"

import skiImage from '../assets/img/ski.jpg'
import snowboardImage from '../assets/img/snowboard.jpeg'
---

<h2>Products</h2>
<div class="product-container">
  <ProductCard title="Snowboard" imageLink={skiImage.src}/>
  <ProductCard title="Ski" imageLink={snowboardImage.src}/>
  <ProductCard title="Tennis" imageLink={skiImage.src}/>
  <ProductCard title="Badminton" imageLink={snowboardImage.src}/>
  <ProductCard title="Basketball" imageLink={skiImage.src}/>
</div>

<style>
  .product-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }
</style>